.page {
  min-width: 1100px;
  max-width: 1600px;
  display: block;
  align-content: center;
  fallback: "Inter", sans-serif;
  fallback: "Noto Serif", "Times-New-Roman", serif;
  font-size: 16px;
  line-height: 20px;
}